name: Deploy index.html to EC2

on:
  push:
    branches:
      - main  # main 브랜치에 푸시될 때 실행할게요

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 체크아웃 소스코드
        uses: actions/checkout@v3

      - name: SCP로 파일 전송하기
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "index.html"  # 전송할 파일
          target: "/var/www/html" # EC2 내부 경로
          strip_components: 0




